app.json
appearance.json
community-plugins.json
core-plugins.json
daily-notes.json
global-search.json
graph.json
hotkeys.json
page-preview.json
starred.json
switcher.json
templates.json
workspace
workspaces.json
/obsidian-git
main.js
manifest.json
workspace
workspace
/.obsidian
/OBSIDIAN.md/.obsidian
/.tmp.drivedownload
/.tmp.driveupload



# Игнорировать каталог node_modules 
node_modules/ 
/out

# Игнорирование логов 
logs 
*.log 

# Игнорирование каталога со сборкой проекта
/dist
/out
/.tmp.driveupload

# Игнорирование файла содержащий переменные окружения  
.env 

# Игнорирование файлов специфичных для IDE 
.idea/ 
.vscode/ 
*.sw*
*.json

# Default ignored files
/shelf/
/workspace.xml

